.root {
  padding: 1.5em;
  background: #fff;
  z-index: 1;
  position: relative;
  background-color:#ffefef;
}

.content {
  max-width: 640px;
  margin: 0 auto;
  padding: 0;
  text-align: left;
  list-style-type: none;
  color: #c10000;
}