.root {
  border: 1px solid #e0e0e0;
  padding: 10px;
  font-size: 1rem;
}

.image {
  width: 100%;
  background-size: cover;
  background-position: 50%;
}

.selectField {
  width: 100%;
}

.removeWrapper {
  text-align: center;
}