{
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
  "plugins": [
    "react"
  ],
  "extends": "airbnb",
  "rules": {
    "indent": [2, 2],
    "comma-dangle": [2, "never"],
    "no-use-before-define": [2, "nofunc"],
    "object-curly-spacing": [2, "never"],
    "no-underscore-dangle": 0
  },
  "globals": {
    "loggerFactory": true
  }
}
